
<% content_for :headline do %>
    Award the team
<% end %>

<%
   team = Team.first
%>

<div class="row">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-2 team-name">
      <h4><%= team.name %></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-lg-offset-2">
      <ul class="team-list">
        <%
           num = 0
           team.members.each do |member|
        %>
            <li><%= member.name %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-lg-4">
      <div class="text-center">
        <input type="input" id="bonus-input" /> PLN<br/><br/>
        <a href="#" class="btn btn-large btn-info" id="set-bonus">Ustaw</a>
      </div>
    </div>
  </div>
</div>
