// Place all the styles related to the voting controller here.
// They will automatically be included in application.css.scss.erb.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'common';

.team-name {
  border-bottom: 1px solid $faded-color;
  color: $faded-color;
}

.team-list {
  list-style-type: none;
  padding: 3px;

  li {
    padding: 3px;
  }
}

#bonus-input {
  font-size: 1.5em;
  width: 4.5em;
  padding: 5px;
  font-family: 'playtimewithhottoddiesRg';
}

#sliders-form {
  padding-top: 1em;
  padding-bottom: 1em;

  .row {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .member-name {
    font-size: 1.2em;
    font-weight: bold;
  }

  .slider {
    width: 100% !important;
  }

  .bonus-value {
    width: 40px;
    display: inline-block;
  }
}
